<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="41ca28ae-d79c-47b2-9b1c-c7f5662a6417g" Publisher="CN=Davids_old" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="41ca28ae-d79c-47b2-9b1c-c7f5662a6417" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Quicky</DisplayName>
    <PublisherDisplayName>TheMulti0</PublisherDisplayName>
    <Logo>Assets\Logo-NoMargins.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Quicky.App">
      <uap:VisualElements DisplayName="Quicky" Square150x150Logo="Assets\Logo-TileSmall.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Quicky" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square150x150Logo.png" Square71x71Logo="Assets\Logo-TileSmall.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>